@tailwind base;
@tailwind components;
@tailwind utilities;
#gradient-canvas {
    @apply w-full h-full;
    --gradient-color-1: #AA22FF;
    --gradient-color-2: #1177FF;
    --gradient-color-3: #FA4C3C;
    --gradient-color-4: #F1C40F;
}
